<header>
    <div class="container">
        <a href="index.html" class="logo">
            <img src="../images/logo-gemelos.png" alt="Los Gemelos">
        </a>
        <nav>
            <ul>
                <li><a href="index.html">Inicio</a></li>
                <li><a href="menu.html">Menú</a></li>
                <li><a href="eventos.html">Eventos</a></li>
                <li><a href="#contacto">Contacto</a></li>
            </ul>
            <div class="mobile-menu">
                <i class="fas fa-bars"></i>
            </div>
        </nav>
    </div>
</header>