<nav class="navbar">
    <div class="navbar-container">
        <div class="navbar-brand">
            <a href="index.html">
                <img src="images/logo-gemelos.png" alt="Los Gemelos">
            </a>
        </div>
        <button class="navbar-toggle">
            <i class="fas fa-bars"></i>
        </button>
        <div class="navbar-links">
            <ul>
                <li><a href="index.html">Inicio</a></li>
                <li><a href="about.html">Nosotros</a></li>
                <li><a href="carta.html">Carta</a></li>
                <li><a href="eventos.html">Eventos</a></li>
            </ul>
        </div>
    </div>
</nav>